/* INIT */

/* THEMES (copy into *)
  Blue Theme  
  --theme_primary:#09e;
  --theme_contrast:white;
  --document_primary:black;
  --document_contrast:white;
  --main_primary: document_primary;
  --main_contrast: document_contrast;
  --main_border_width: 0;
  
  Blue Theme 2.0
  --theme_primary:#26a;
  --theme_contrast:white;
  --document_primary:#333;
  --document_contrast:#ccc;
  --main_primary: document_primary;
  --main_contrast: document_contrast;
  --main_border_width: 0;
  
  Green Theme
  --theme_primary:#0d6; 
  --theme_contrast:white;
  --document_primary:black;
  --document_contrast:white;
  --main_primary: document_primary;
  --main_contrast: document_contrast;
  --main_border_width: 0;
  
  Dark Green Theme
  --theme_primary:#0a2; 
  --theme_contrast:black;
  --document_primary:#dfd;
  --document_contrast:black;
  --main_primary: document_primary;
  --main_contrast: document_contrast;
  --main_border_width: 0;
*/

* {
  /* Blue Theme */
  --theme_primary:#09e;
  --theme_contrast:white;
  --document_primary:black;
  --document_contrast:#f0f2f4;
  
  --main_primary: document_primary;
  --main_contrast: white;
  --main_border_width: 0.1em;
  
  --trans:RGBA(0, 0, 0, 0);
  --spacing:0.4em;
}
* { box-sizing: border-box; font-family: "sans-serif"; font-weight: normal; color:inherit; text-decoration:inherit;}
* { padding:0; margin: 0; }

*+h1, *+h2, *+h3, *+h4, *+p {
  margin-top:var(--spacing);
}

/* GENERAL */

ul, ol {
  list-style: inside;
}
header, main, footer {
  margin: 1em;
  padding: 1em;
}
header, footer, footer>* {
  border-radius: 0.4em;
}

/* DOCUMENT */
:root {
  background: var(--document_contrast);
  color: var(--document_primary);
}

/* HEADER */

header .special_1 {
  vertical-align: text-top;
  font-size: 0.6em;
  color: purple;
}
header span.special_1::before { content:"["; }
header span.special_1::after { content:"]"; }

header {
  /* appearance */
  color: var(--theme_contrast);
  background: var(--theme_primary);
  
  /* layout */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
header img {
  vertical-align: text-bottom;
}

/* NAVIGATION */

nav {
  /* layout */
  display: flex;
  align-items: center;
  padding-top:0.4em;
  padding-bottom:0.4em;
}
nav>* {
  border-radius: 0.14em;
  padding: 0.2em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  
  border: 1px solid var(--theme_contrast);
  /* here's some inspiration:
    border-bottom-color: RGBA(255, 255, 255, 0.6);
    border-right-color: RGBA(255, 255, 255, 0.6);
  */
  
  white-space: nowrap;
}
nav>*+* {
  margin-left:0.4em;
}
nav>a{
  transition:background 0.3s ease-in-out, color 0.3s ease-in-out;
}
nav>a:hover {
  background: var(--theme_contrast);
  color: var(--theme_primary);
}

/* MAIN */

main {
  border: solid var(--main_border_width) var(--theme_primary);
  background: var(--main_contrast);
  color: var(--main_primary);
  border-radius: 1em;
}
main a, footer a {
  padding-left: 0.2em;
  padding-right: 0.2em;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  border-bottom: 0.14em solid;
}
main a { border-bottom-color: var(--theme_primary); }
footer a { border-bottom-color: var(--theme_contrast); }
main a:hover {
  color: var(--theme_contrast);
  background: var(--theme_primary);
} footer a:hover {
  color: var(--theme_primary);
  background: var(--theme_contrast);
}

/* FOOTER */

footer {
  /* appearance */
  background: var(--theme_primary);
  color: var(--theme_contrast);
  min-height: 16vh;
  
  /* layout */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} footer.simpler {
  padding: 0;
  background: var(--trans);
}

footer>* {
  /* appearance */
  background-color: var(--theme_primary);
  
  /* layout */
  flex-basis: 20em;
  flex-grow: 2;
  margin: 0.2em;
  padding: 1em;
}